BODY, H1, H2, H3, H4, H5, H6, TH, TD {
  font-family: arial, helvetica, sans-serif;
  font-size: 80%;
}

BODY { 
  margin: 0px;
  margin-top: 25px;
  margin-left: 240px;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 600px;
}

.headline {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 10px;
  width: 100%;
  background-color: #2874AE;
  border-top: 6px #FFFFFF solid;
}  

.margin {
  position: absolute;
  left: 0px;
  top: 15px;
  width: 230px;
  margin-left:20px;
  margin-top:1em;
  color: #2874AE;
  text-align: left;
}

H1, H2, H3, H4, TH.people {
  color: #2874AE;
}

H1 {
  font-size: large;
}

H2 {
  font-size: medium;
}

.menuPSLab {
  color: white;
  background-color: #153969;
  padding: 2px;
  border-top: 6px #FFFFFF solid;
  border-bottom: 10px #FFFFFF solid;
  width: 196px;
  text-align: center;
  font-weight:bold;
  font-size:larger;
}

.menuPSLab A:link {
  color: white;
  text-decoration: none;
}

.menuPSLab A:visited {
  color: white;
  text-decoration: none;
}

.menuHead {
  color: white;
  background-color: #153969;
  padding: 2px;
  border-top: 6px #FFFFFF solid;
  border-bottom: 6px #FFFFFF solid;
  width: 196px;
  text-align: center;
}

.menuHead A:link {
  color: white;
  text-decoration: none;
}

.menuHead A:visited {
  color: white;
  text-decoration: none;
}

.menu {
  color: #2874AE;
  background-color: #CCCCCC;
  padding: 2px;
  padding-left:4px;
  border-top: 2px #FFFFFF solid;
  width: 194px;
}

img {
  border:none;
}

ADDRESS {
  font-size: xx-small; 
}

PRE, CODE, .code {
  font-family: "andale mono", "lucida console", courier, monospace;
}

CODE, .code {
  color: #663366;
}

PRE.code {
  margin-left: 1.5cm;
}

CODE.keyword, CODE.kw, SPAN.keyword, SPAN.kw {
  font-weight: bold;
}

TH.people {
  text-align: left;
}
A:link {
  color: #2874AE;
  text-decoration: none;
}

A:visited {
  color: #333399;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
}

.narrow H2 {
  border: 0;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.narrow P, .narrow UL {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.ignore {
  display: none;
}

.smallmenu {
  text-align: center;
}

.smallmenu A.hilite {
  color: #ff9933;
  font-weight: bold;
}

.paperyear, .paperauthor {
  font-weight: bold;
}

MENU.paperlinks LI {
  list-style-type: none;
}

.paperlinks P {
  display: inline;
  text-indent: -40px;
  font-weight: normal;
  font-style: italic;
}

SPAN.bibauthor {
  font-style: italic;
}

SPAN.small {
  font-size: small;
}

SPAN.error {
  color: #ff0000;
}
